<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CenfoEats2._0.Properties.Settings.CenfoEats2DBConnectionString"
            connectionString="Data Source=cenfopatrones.database.windows.net;Initial Catalog=CenfoEats2DB;Persist Security Info=True;User ID=cenfotec2023;Password=Grupo2Patrones!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>